.footer
  .footer-info
    %ul
      %li
        %i.fab.fa-instagram
      %li
        %i.fab.fa-twitter
      %li
        %i.fab.fa-youtube
    .footer-menu
      %p 利用規約
      %p 会社概要
      %p お問い合わせ
      %p 掲載をお考えの方へ
      %p.copyright
        %p  © hair.com
        %p  ヘアカタログサイト
